//! colors ##################
// primary :
$B_Blue: hsl(220, 98%, 61%);
$Check_Background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
//natural
//* light
$V_L_Gray: hsl(0, 0%, 98%);
$V_L_Grayish_Blue: hsl(236, 33%, 92%);
$Light_Grayish_Blue: hsl(233, 11%, 84%);
$Dark_Grayish-Blue: hsl(236, 9%, 61%);
$V_D_Grayish_Blue: hsl(235, 19%, 35%);
//* dark

$V_Dark_Blue: hsl(235, 21%, 11%);
$V_Dark_Desaturated_Blue: hsl(235, 24%, 19%);
$L_Grayish_Blue: hsl(234, 39%, 85%);
$D_Grayish_Blue: hsl(234, 11%, 52%);
$V_Dark_Grayish_Blue: hsl(233, 14%, 35%);
$V_Dark_Grayish_Blue: hsl(237, 14%, 26%);
// hover
$L_Grayish_Blue: hsl(236, 33%, 92%);
//! media
